<fieldset class="main-panel">
	<legend>Search</legend>
	<form id="queryform" name="sparql" method="get" action="<%= @ep_url %>">
		<div>
			Default Graph IRI:<br/>
			<input id="graph" type="text" name="default-graph-uri" size="60" />
		</div>
		<br/>
		<div>
			SPARQL:
			<textarea id="query" name="query" maxlength="1200" required="required"><%= default_query -%></textarea>
		</div>
		<div style="margin:5px">
			<table class="center options">
				<tr>
					<th>Show results by</th>
					<td>
						<table class="plain">
							<tr>
								<td>
									<input type="radio" name="actionsel" id="sel-ep" onclick="set_path_to_ep()" checked="checked"/><label for="sel-ep" title="It shows the list of bindings to the variables specified in the 'SELECT' clause">Virtuoso</label>
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="actionsel" id="sel-textae" onclick="set_path_to_textae()"/>
									<label for="sel-textae" title="It shows the minimal spans containing the solutions.">TextAE</label>
									<ul>
										<li><label for="sel-textae">context size: <input type="text" name="context_size" size="3" value="20" /></label></li>
										<ul>
											<li>
												<%= check_box_tag("with annotation", 1, true) %>
												<%= label_tag("with annotation") %>
											</li>
										</ul>
										<li><label for="sel-textae">annotations to show</label></li>
										<ul>
											<% @projects.each_with_index do |p, i| %>
												<li>
													<% if i == 0 %>
														<%= check_box_tag("project-" + p, 1, true, disabled: true) %>
														<%= check_box_tag("project-" + p, 1, true, hidden: true) %>
													<% else %>
														<%= check_box_tag("project-" + p) %>
													<% end %>
													<%= label_tag("project-" + p) %>
												</li>
											<% end %>
										</ul>
									</ul>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<input type="submit" name="submit" value="submit" style="height: 30px; width: 100%" />
	</form>
	<div id="comment">
		<%= default_comment.html_safe %>
	</div>
</fieldset>

<!-- codemirror scripts -->
<script>
	var sparqlMirror = CodeMirror.fromTextArea(document.getElementById("query"), {
		lineNumbers: true,
		mode: "sparql"
	});

	function set_path_to_ep() {
		document.getElementById('queryform').action = "<%= @ep_url %>"
	}

	function set_path_to_textae() {
		document.getElementById('queryform').action = "<%= @path_prefix %>/solutions/index"
	}

	function setquery(query) {
		document.getElementById("graph").value = query["graph"];
		sparqlMirror.getDoc().setValue(query["sparql"]);
		if (query["comment"] == null || query["comment"] == "") {query["comment"] = "No explanation."};
		document.getElementById("comment").innerHTML = query["comment"];
	}
</script>

<fieldset class="panel">
	<legend>Prefixes</legend>
<pre>
<%= @prefixes.map{|p| "PREFIX #{p[:prefix]}:<#{p[:uri]}>"}.join("\n") %>
</pre>
</fieldset>

<fieldset class="panel">
	<legend>Graphs</legend>
<pre>
<%= @graphs.map{|g| '<' + g + '>'}.join("\n") %>
</pre>
</fieldset>

<fieldset class="panel">
	<legend>Example queries</legend>
	<%= render :partial => "queries/list" %>
</fieldset>

<div style="clear:both"/>