<fieldset class="main-panel">
	<legend>Search</legend>
	<form id="queryform" name="sparql" method="get" action="<%= @ep_url %>">
	<!-- <form id="queryform" name="sparql" method="get" action="/"> -->
			<div>
				Template:
				<% if @title %>
					<span id = 'template'>
						<%= query_template(@title) %>
					</span>
				<% end %>
			</div><br/>
		<div>
			SPARQL:
			<textarea id="query" name="query" maxlength="1200" required="required"><%= @query -%></textarea>
		</div>
		<div style="margin:5px">
			<table class="center options">
				<tr>
					<th>Show results by</th>
					<td>
						<table class="plain">
							<tr>
								<td>
									<input type="radio" name="actionsel" id="sel-ep" onclick="set_path_to_ep()" checked="checked"/><label for="sel-ep" title="It shows the list of bindings to the variables specified in the 'SELECT' clause">Virtuoso</label>
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="actionsel" id="sel-textae" onclick="set_path_to_textae()"/>
									<label for="sel-textae" title="It shows the minimal spans containing the solutions.">TextAE</label>
									(<label for="sel-textae">context size: <input type="text" name="context_size" size="3" value="35" /></label>)
								</td>
							</tr>
						</table>
					</td>
					<td>
						<input type="submit" name="submit" value="submit" style="height: 60px; width: 60px" />
					</td>
				</tr>
			</table>
		</div>
	</form>
	<% if @comment.present? %>
		<div id="comment">
			<%= @comment.html_safe %>
		</div>
	<% end %>
</fieldset>

<!-- codemirror scripts -->
<script type="text/javascript">
	var sparqlMirror = CodeMirror.fromTextArea(document.getElementById("query"), {
		lineNumbers: true,
		mode: "sparql"
	});

	$('#template input').change(function() {
		console.log($('#template input').attr('id'));
		var query = $('#query').val()
		$('#template input').each(function(index, element){
			var id = $(this).attr('id');
			var val = $(this).val();
			if (val) {query = query.replace(id, val)}
		});
		sparqlMirror.getDoc().setValue(query);
	});

	function set_path_to_ep() {
		document.getElementById('queryform').action = "<%= @ep_url %>"
	}

	function set_path_to_textae() {
		document.getElementById('queryform').action = "<%= @path_prefix %>/"
	}

	function setquery(query) {
		document.getElementById("graph").value = query["graph"];
		sparqlMirror.getDoc().setValue(query["sparql"]);
		if (query["comment"] == null || query["comment"] == "") {query["comment"] = "No explanation."};
		document.getElementById("comment").innerHTML = query["comment"];
	}
</script>

<fieldset class="panel">
	<legend>Example queries</legend>
	<dev class="query-list">
		<%= render :partial => "queries/list" %>
	</dev>
</fieldset>

<div style="clear:both"/>

<% if @solutions %>
	<div class = "solutions">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
		<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script src="https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.closest"></script>
		<script src="https://cdn.jsdelivr.net/jquery.sticky-kit/1.1.2/jquery.sticky-kit.min.js"></script>
		<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
		<!-- -->

		<h1>Solution spans rendered in <a href="http://textae.pubannotation.org">TextAE</a></h1>
		<% span_annotations_urls = solutions2span_annotations_urls(@solutions, @projects, @extension_size, @context_size) %>
		<% if span_annotations_urls.empty? %>
			<div class="message">
			This view renders the maximum spans involved in the solutions.<br/>
			However, the solutions to the input query do not involve a span specification.<br/>
			Go back and try the <i>binding view</i>.
			</div>
		<% else %>
			<% span_annotations_urls.each do |span_url, span_annotations_url| %>
				<%=
					if params[:mode] == "edit"
						content_tag(:div, "",
									class: "textae-editor",
									target: span_annotations_url,
									mode: "edit",
									status_bar: "on")
					else
						content_tag(:div, "",
									class: "textae-editor",
									target: span_annotations_url,
									status_bar: "on")
					end
				%>
				<%= link_to ">PubAnnotation", span_url, class: "button" %>
				<%= tag :hr %>
			<% end %>
		<% end %>
	</div>
<% end %>