<h1>Query examples</h1>

<table class="queries">
  <tr>
    <th class="serial">No.</th>
    <th class="description">Title</th>
    <th class="control">C</th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.priority %></td>
    <td><%= raw query.title %></td>
    <td>
        <%= link_to 'Show', query %>
        <%= link_to 'Edit', edit_query_path(query) %>
        <%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query', new_query_path %>
