<h1>Query examples</h1>

<table>
  <tr>
    <th>No.</th>
    <th style="width:150px">Title</th>
    <th>Sparql</th>
    <th>Graph</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.priority %></td>
    <td><%= raw query.title %></td>
    <td><pre><%= query.sparql %></pre></td>
    <td><%= query.graph %></td>
    <td><%= query.comment %></td>
    <td><%= link_to 'Show', query %></td>
    <td><%= link_to 'Edit', edit_query_path(query) %></td>
    <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query', new_query_path %>
