<!DOCTYPE html>
<html>
<head>
  <title>Pubannotation SPARQL Interface</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="frame">
	<div class="title"><a href="http://pubannotation.org">PubAnnotation</a> <a href="http://sparql.pubannotation.org">SPARQL Interface</a></div>
	<div class="subtitle">a prototype system</div>
</div>

<div class="message">
	<%= notice.html_safe if notice -%>
</div>
<div id="altert">
	<%= alert if alert %>
</div>

<div id="main">
	<%= yield %>
</div>

<div id="footer" class="frame">
<ul style="list-style-type: none;">
<li>Note that <i>PubAnnotation SPARQL Interface</i> is currently a prototype implementation for proof-of-concept, and should be treated as such.
<li>Features are subject to change without notice or obligation until it is turned into a Beta version.
<li>Your comments (problem reporting, suggestions, criticism, encouragements, ...) are very very welcome.
<li>Contact: admin (at) pubannotation.org.
</ul>
</div>

</body>
</html>
